/* @font-face {
	font-family: "Axiforma";
	src: url("");
	src: url("") format("embedded-opentype"), url("") format("woff2"),
		url("") format("woff"), url("") format("truetype");
} */

html {
	scroll-behavior: smooth;
}

body {
	font-family: Axiforma;
	margin: 0;
	padding: 0;
}

body * {
	font-family: Axiforma;
}
